body {
    color: $dark-grey;
    font-family: Oxjam;
}

p, input, textarea, label {
    font-family: Helvetica;
    font-size: 20px !important;
    line-height: 1.2;
}

nav {
    background-color: $dark-pink !important;
    color: white;
    height: 60px;
    padding: 0 20px;

    @media (max-width: 992px) {
        display: block;
    }
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
}

nav p {
    padding-bottom: 2px;
}

nav .social-icons a {
    margin: 0 10px;
    padding: 0;
}

nav .side-nav li {
    float: none;
}

header {
    align-items: center;
    display: flex !important;
    flex-direction: column;
    min-height: 100vh - 5;
    justify-content: center;
}

header .content {
    text-align: center;
}

header h1, header h2 {

    @media (max-width: 750px) {
        font-size: 2rem;
    }


}

header img {
    border-radius: 500px;
    height: 200px;
    max-width: 100%;
}

#about p {
    margin-bottom: 20px;
}

section {
    padding: 100px 0;
    text-align: center;
}

section h2 {
    margin: 0 10px 50px 10px;
}

.card .card-content .card-title {
    @media (max-width: 750px) {
        font-size: 1.3rem;
    }
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
    max-height: 70% !important;
}

#sponsors .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sponsors img {
    height: 175px;
    padding: 20px 20px 0 20px;
}

#contact form {
    font-family: Helvetica;
    margin: 0 auto;
    text-align: left;
}

footer {
    align-items: center;
    display: flex !important;
    text-align: center;
    margin: 0 !important;
    min-height: 200px;
}
